@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@custom-variant dark (&:where(.dark, .dark *));


:root {
  --black: #000000;
  --white:#ffffff;
  --gray:#b9b7b7;
  --light-gray:#d1d1d1;
  --dark-gray:#333333;
  --red:#f30707;
  --light-red:#ffe2e2;
  --vilet:#7315e7;
  --light-vilet:#d4b7fa;

  --blue-green:#005f5a;
  --light-blue-green:#00786f;
  --very-light-blue-green:#b6f9f4;

  --primary-bg: var(--white);
  --secondry-bg: var(--gray);
  --primary-text: var(--black);
  --custom-border: var(--light-gray);
  --icon-color: var(--dark-gray);
  --hover-color: var(--gray);
  --hart-color: var(--red);
  --red-background: var(--light-red);

  --logo-primery: var(--blue-green);
  --logo-secondry: var(--light-blue-green);

  --auth-bg: var(--gray);
  --auth-secondry-bg: var(--white);
  --auth-theam-text-color: var(--blue-green);
  --auth-inp-bg-color: var(--very-light-blue-green);
  --auth-button: var(--blue-green);
  --auth-button-secondry: var(--very-light-blue-green);
  --auth-button-text: var(--white);
  --auth-button-secondry-text: var(--blue-green);

  --addPlace-bg: #ffffff;
  --addPlace-Text: #000000;
  --addPlace-inptborder: #d4b7fa;
  --addPlace-button: #7315e7;
  --addPlace-buttonText: #ffffff;
  --addPlace-inputBG: #ffffff;
  --addPlace-inputForcus: #7315e7;
  --addPlace-selectbg: #7315e7;
  --addPlace-selectText: #000000;

}

.dark {
  --blue-green:#005f5a;
  --light-blue-green:#00786f;
  --very-light-blue-green:#b6f9f4;


  --primary-bg: #1b1919;
  --secondry-bg: #353333;
  --primary-text: #ffffff;
  --custom-border: #444444;
  --icon-color: #bbbbbb;
  --hover-color: #353333;
  --hart-color: #f30707;
  --red-background: #f59191;

  --logo-primery: #005f5a;
  --logo-secondry: #00786f;

  --auth-bg: #1b1919;
  --auth-secondry-bg: #353333;
  --auth-theam-text-color: var(--light-blue-green);
  --auth-inp-bg-color: var(--very-light-blue-green);
  --auth-button: var(--blue-green);
  --auth-button-secondry: var(--very-light-blue-green);
  --auth-button-text: #ffffff;
  --auth-button-secondry-text: var(--blue-green);

  /* --addPlace-bg:#101828; */
  --addPlace-bg: #1b1919;
  --addPlace-Text: #ffffff;
  --addPlace-inptborder: #4a5565;
  --addPlace-button: #155dfc;
  --addPlace-buttonText: #ffffff;
  --addPlace-inputBG: #1e2939;
  --addPlace-inputForcus: #51a2ff;
  --addPlace-selectbg: #1e2939;
  --addPlace-selectText: #ffffff;

  
}

/* Utility Classes Using Variables */
.primary-bg {
  background-color: var(--primary-bg);
}

.secondry-bg {
  background-color: var(--secondry-bg);
}

.primary-text {
  color: var(--primary-text);
}

.placeholder-primary-text::placeholder {
  color: var(--primary-text);
  opacity: 0.7;
}

.custom-border {
  border: 1px solid var(--custom-border);
}

.icon-color {
  color: var(--icon-color);
}
.hover-color:hover {
  background-color: var(--hover-color);
}
.hart-color {
  color: var(--hart-color);
}

.red-background {
  background-color: var(--red-background);
}

.auth-bg {
  background-color: var(--auth-bg);
}

.auth-secondry-bg {
  background-color: var(--auth-secondry-bg);
}
.auth-theam-text-color {
  color: var(--auth-theam-text-color);
}

.auth-theam-placeholder-color::placeholder {
  color: var(--auth-theam-text-color);
}

.auth-inp-bg-color {
  background-color: var(--auth-inp-bg-color);
}

.auth-button {
  background-color: var(--auth-button);
}

.auth-button-secondry {
  background-color: var(--auth-button-secondry);
}

.auth-button-text {
  color: var(--auth-button-text);
}

.auth-button-secondry-text {
  color: var(--auth-button-secondry-text);
}

.addPlace-bg {
  background-color: var(--addPlace-bg);
}

.addPlace-Text {
  color: var(--addPlace-Text);
}

.addPlace-inptborder {
  border: 1px solid var(--addPlace-inptborder);
}

.addPlace-button {
  background-color: var(--addPlace-button);
}

.addPlace-buttonText {
  color: var(--addPlace-buttonText);
}

.addPlace-inputBG {
  background-color: var(--addPlace-inputBG);
}

.addPlace-inputForcus {
  &:focus {
    --tw-ring-color: var(--addPlace-inputForcus);
  }
}

.addPlace-selectbg {
  background-color: var(--addPlace-selectbg);
}

.addPlace-selectText {
  color: var(--addPlace-selectText);
}

.logo-primery {
  color: var(--logo-primery);
}

.logo-secondry {
  color: var(--logo-secondry);
}
